<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <div class="container">
    <h3>Muhammad Alfath Fiqhya Amrinagara</h3>
    <h4>Sistem Informasi Semester 3</h4>

    <div class="row">
        <div class="col-md-8">
          <form action="savename" method="POST">
              {% csrf_token %}
              Name: {{ input_form.as_p }}
        <div class="form-group">
          <label for="matakuliah">Mata Kuliah</label>
          <input type="text" class="form-control" id="matakuliah" name="matakuliah">
        </div>
        <div class="form-group">
            <label for="dosenpengajar">Dosen Pengajar</label>
            <input type="text" class="form-control" id="dosenpengajar" name="dosenpengajar">
          </div>
          <div class="form-group">
            <label for="jumlahsks">Jumlah SKS</label>
            <input type="text" class="form-control" id="jumlahsks" name="jumlahsks">
          </div>
          <div class="form-group">
            <label for="deskripsi">Deskripsi</label>
            <input type="text" class="form-control" id="deskripsi" name="deskripsi">
          </div>
          <div class="form-group">
            <label for="tahunsemester">Tahun Semester</label>
            <input type="text" class="form-control" id="tahunsemester" name="tahunsemester">
          </div>
          <div class="form-group">
            <label for="ruangkelas">Ruang Kelas</label>
            <input type="text" class="form-control" id="ruangkelas" name="ruangkelas">
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>  
        </div>
    </div>
    
    </div>















    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>